/*@import "menu.css";*/
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td, /* table elements 表格元素 */
img/* img elements 图片元素 */ {
	border: medium none;
	margin: 0;
	padding: 0;
}
/** 设置默认字体 **/
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: '微软雅黑';
}
/*h1, h2, h3, h4, h5, h6 { font-size: 100%; }*/
/*em{font-style:normal;}*/
/** 重置列表元素 **/
ul, ol {
	list-style: none;
}
/** 重置超链接元素 **/
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
	color: #3363a7;
}
/** 重置图片元素 **/
img {
	border: 0px;
}
/** 重置表格元素 **/
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.detailstop {
	width: 100%;
	height: 30%;
	background-color: #FFFFFF;
}
.businesshead {
	width: 95%;
	height: 50%;
	margin-left: 5%;
	border-bottom: 1px solid #DCDCDC;
}
.headpic {
	display: inline;
}
.headpic
img {
	width: 100px;
	margin-top: 10px;
	float: left;
	height:77%;
}
.headname {
	width: 50%;
	height: 60%;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.headname
p {
	line-height: 40px;
}
.icon-favorfill {
	color: #cd2647;
	float: left;
}
.businessshow {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #DCDCDC;
	line-height: 50px;
}
.businessbottom {
	width: 95%;
	height: 50%;
	margin-left: 5%;
}
.adress {
	width: 100%;
	height: 50%;
	padding-top: 10px;
	font-size: 14px;
}
.tel {
	width: 100%;
	height: 50%;
	font-size: 14px;
}
.icon-dizhi {
	color: #0EAAE3;
	font-size: 24px;
}
.icon-shouji {
	color: #0EAAE3;
	font-size: 24px;
}
.gohere {
	color: #0EAAE3;
	float: right;
	margin-right: 15px;
	font-size: 14px;
}
.detailsbottom {
	width: 100%;
	background-color: #FFFFFF;
	margin-top: 10px;
}
.detailstitle {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #DCDCDC;
	line-height: 50px;
}
.icon-shoplight {
	color: #0EAAE3;
	font-size: 24px;
	margin-left: 5%;
}
.time {
	margin-left: 5%;
	border-bottom: 1px solid #DCDCDC;
}
.time1 {
	line-height: 40px;
	font-size: 16px;
}
.time2 {
	line-height: 30px;
	font-size: 14px;
}
.icon-danlieliebiao {
	color: #0EAAE3;
	font-size: 24px;
	margin-left: 5%;
}
.businesspic {
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #DCDCDC;
	line-height: 50px;
}
.businesspic2 {

}
.businesspic
li {
	width: 102px;
	height: 82px;
	float: left;
}
.businesspic
img {
	width: 100px;
	height: 80px;
	margin-top: 10px;
	margin-left: 5%;
}
.businesspic
ul {
	width: 90%;
	height: 90px;
	white-space: nowrap;
}

.zzc {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.7);
	display: none;
	z-index: 999;
}
.zzc .center {
	/*margin:40% auto;*/
	/*width:100%;
	 display:table-cell;
	 vertical-align:center;*/
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);	/* IE 9 */
	-moz-transform: translateY(-50%);	/* Firefox */
	-webkit-transform: translateY(-50%); /* Safari 和 Chrome */
	-o-transform: translateY(-50%);
	overflow: scroll;
	max-height: 100%;
}

.zzc .center img {
	position: relative;
	top: 0;
}

