body {
	font-family: "微软雅黑";
	background-color: #e6e6e6;
}
img {
	display: block;
}
input {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	text-align: right;
}
.clearfix {
	content:'';
	clear:both;
	display:block;
	width: 0;
	height: 0;
	visibility:hidden;
	overflow: auto;	
}
.bar{
	height: 44px;
	position:relative;
}
.title{
	height: 44px;
	background: #F08200;
}

.detial{
	height: 70px;
	margin-bottom:1px;
	background:#FFFFFF;
}
.detial .box{
	width:95%;
	height: 70px;
	margin:0 auto 0 auto;
	padding:10px 0;
}
.detial .box .left{
	width:50px;
	height:50px;
	float:left;
	border-radius:5px;
	overflow: hidden;
}
.detial .box img{
	width:50px;
	height:50px;
}
.detial .box .right{
	float:left;
	height:50px;
	margin-left: 15px;
	
}
.detial .box i{
	line-height:50px;
}
.detial .box .right span{
	font-size:16px;
}
#sjaddress{
	width:100%;
	margin-top: 2px;
	font-size: 14px;
	color: #949494;
}
.icon-favorfill {
    color: #cd2647;
    float: left;
    margin-top: 5px;
}
.detial .other{
	font-size: 14px;
	color: white;
	background-color: #0EAAE3;
	float: left;
	margin-top: 5px;
	border-radius: 5px;
	margin-left: 5px;
	padding:0 5px;
}
.detial .box .top,.detial .box .bottom{
	line-height:25px;
	font-size:14px;
	font-weight:400;
}
.detial .box .top{height:25px;}
.detial .top img,.detial .bottom img{
	width:16px;
	height:16px;
	float:left;
	margin-top:4px;
	margin-right:5px;
}
.detial .top .top-left{
	float:left;
	width: 79%;
	text-overflow :ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.detial .top .top-right{
	float:right;
}

.product-show{
	margin-top:10px;
}
.product-show-title{
	width:100%;
	background-color:#FFFFFF;
	height:40px;
}
.product-show-title div{
	width:95%;
	margin:auto;
	line-height:40px;
	font-size:15px;
	font-weight:bold;
}
.product-show-title div img{
	width:13px;
	height:13px;
	float:left;
	margin-top:14px;
	margin-right:15px;
}
.product-show-picture{
	width:100%;
	height:70px;
	background-color:#FFFFFF;
	padding-top:10px;
	margin-top:1px;
}
.product-show-picture .box{
	height:50px;
	margin:auto;
	float:left;
}
.product-show-picture .box .swiper-slide{
	
	width:70px;
	float:left;
	margin-left:10px;
}
.product-show-picture .box .swiper-slide img{
	height: 50px;
	
}
.seller-details{
	width:100%;
	height:40px;
	background-color:#FFFFFF;
	margin-top:1px;
}
.seller-details div{
	width:95%;
	margin:auto;
	line-height:40px;
	font-size:15px;
}
.seller-details div img{
	width:16px;
	height:16px;
	float:left;
	margin-top:12px;
	margin-right:15px;
}
.seller-introduction{
	width:100%;
	height:75px;
	background-color:#FFFFFF;
	margin-top:1px;
}
.seller-introduction div{
	width:95%;
	margin:auto;
	line-height:40px;
	font-size:15px;
}
.seller-introduction div img{
	width:16px;
	height:16px;
	float:left;
	margin-top:12px;
	margin-right:15px;
}

.zzc {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.7);
	display: none;
	z-index: 999;
}
.zzc .center {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);	/* IE 9 */
	-moz-transform: translateY(-50%);	/* Firefox */
	-webkit-transform: translateY(-50%); /* Safari 和 Chrome */
	-o-transform: translateY(-50%);
	overflow: scroll;
	max-height: 100%;
}

.zzc .center img {
	position: relative;
	top: 0;
}



