/*@import "menu.css";*/
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p,
blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td, /* table elements 表格元素 */
img/* img elements 图片元素 */{
    border:medium none;
    margin: 0;
    padding: 0;
}
/** 设置默认字体 **/
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: '微软雅黑';
}
/*h1, h2, h3, h4, h5, h6 { font-size: 100%; }*/
/*em{font-style:normal;}*/
/** 重置列表元素 **/
ul, ol { list-style: none; }
/** 重置超链接元素 **/
a { text-decoration: none; color:#000;}
a:hover { text-decoration: underline; color:#3363a7; }
/** 重置图片元素 **/
img{ border:0px;}
/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }
.pics{
	width:100%;
	height:300px;
	/*background:url("../../image/temp/pics.png") no-repeat center;*/
	background-color:#0eaae0;
	position:relative;
	text-align: center;
	overflow: hidden;
}

.pics p{
   color:#FFFFFF;
   font-weight:600;
   font-size:20px;
}

.pics .pic-head{
   width:100px;
   height:100px;
   margin:0 auto;
   margin-top:65px;
   margin-bottom:30px;
}

.tran{
   width:20px;
   height:20px;
   background-color:#FFFFFF;
   position:absolute;
   transform:rotate(135deg);
   left:50%;
   bottom:-10px;
   margin-left:-10px;
}
.photo_center{
    width: 100%;
    height: 240px;
    position:absolute;
    bottom: 0;
    left:0;
    padding: 10px;
}
.photo_top{
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
}
.photo_top span{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #dcdcdc;
    color: #a0a0a0;
}
.photo_top button,.photo_bottom{
    width: 100%;
    background-color: #fff;
    padding: 12px 0;
    color: #2795c5;
    font-size: 18px;
    border-radius: 5px;
}
.photo_top .borderOne{
    border-bottom: 1px solid #dcdcdc;
}
.photo_bottom{
    margin-top: 4px;
}
.colorChange{
    color:#209fd2;
    font-size: 14px;
    padding-left: 4px;
}
.quit{
    width: 100%;
    background: #fff;
    height:40px;
    line-height: 40px;
    color: #e71f19;
    font-size: 16px;
    text-align:center;
    margin-top: 10px;
}
.nothing{
    width: 100%;
    background: #fff;
    height:40px;
    line-height: 40px;
    color: #1F1F1F;
    font-size: 16px;
    text-align:center;
    margin-top: 10px;
}
.share_center{
    width: 100%;
    height:140px;
    padding: 30px 10px;
    background-color: #fff;
}
.share_center .share_title{
    width: 100%;
    text-align: center;
    font-size: 16px;
    color:#777778;
}
.share li{
    width: 25%;
    text-align: center;
    float: left;
}
.share li div{
    font-size: 14px;
    color:#777778;
}
.share_sub{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color:#777778;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
}
.item-title{
	padding:10px;
}