.theme-green .tabbar a.active,
.tabbar.theme-green a.active,
.theme-green .tabbar a.active i,
.tabbar.theme-green a.active i,
.theme-green a,
.theme-green .item-link.list-button {
	color: rgb(14, 170, 227);
}

.theme-green .navbar,
.color-green.button:not(.button-fill).active,
.color-green.buttons-row .button.active,
.theme-green .button:not(.button-fill).active {
	background-color: rgb(14, 170, 227);
}

.color-green.button:not(.button-fill),
.color-green.buttons-row .button,
.theme-green .button:not(.button-fill) {
	border-color: rgb(14, 170, 227);
}

.imageList {
	width: 20%;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 15px;
}

.div-community-content-center {
	position: fixed;
	bottom: 0px;
	font-size: 20px;
	background-color: rgb(14, 170, 227);
	width: 100%;
	height: 40px;
	z-index: 444;
	text-align: center;
	color: #fff;
	margin: auto;
}

.navbar span {
	color: white
}

.buttons-row {
	width: 100px;
}

.theme-green .button:not(.button-fill).active {
	background-color: rgb(14, 170, 227);
	color: #fff;
}

.theme-green .button:not(.button-fill) {
	border-color: rgb(14, 170, 227);

}

.l_float {
	float: left;
}

.r_float {
	float: right;
}

#tab1 .item-subtitle .sex {
	width: 13%;
	height: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#tab1 .sex span {
	float: left;
	width: 50%;
	height: 15px;
	color: white;
	text-align: center;
	font-size: 10px;
	margin-top: 2px;
}

#tab1 .img1 {
	float: left;
	width: 30%;
	height: ;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-right: 2px;
	margin-left: 2px;
}

#tab1 .img2 {
	width: 60%;
	padding-left: 2px;
	height: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

#tab1 .list-block .item-content {
	padding-left: 5px;
}

#tab1 .list-block .item-text {
	height: 100%;
}

#tab1 .item-after span {
	font-size: 8px;
	margin-top: 5px;
	color: #BBBBBB;
}

#tab1 .item-media img {
	border-radius: 5px;
}

#tab1 .item-title span {
	float: left;
	font-size: 10px;
	font-weight: 200;
}

#tab1 .item-text span {
	font-size: 12px;
	color: #BBBBBB;
}

#tab1 .key-word {
	width: 25%;
	height: 25px;
}

#tab2 .item-subtitle .sex {
	width: 13%;
	height: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#tab2 .sex span {
	float: left;
	width: 50%;
	height: 15px;
	color: white;
	text-align: center;
	font-size: 10px;
	margin-top: 2px;
}

#tab2 .img1 {
	float: left;
	width: 30%;
	height: ;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-right: 2px;
	margin-left: 2px;
}

#tab2 .img2 {
	width: 60%;
	padding-left: 2px;
	height: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

#tab2 .list-block .item-content {
	padding-left: 5px;
}

#tab2 .list-block .item-text {
	height: 100%;
}

#tab2 .item-after span {
	font-size: 8px;
	margin-top: 5px;
	color: #BBBBBB;
}

#tab2 .item-media img {
	border-radius: 5px;
}

#tab2 .item-title div {
	margin-top: 8px;
	float: left;
	font-size: 10px;
	font-weight: 200;
}


#tab2 .item-text span {
	font-size: 12px;
	color: #BBBBBB;
}

#tab2 .key-word {
	width: 25%;
	height: 25px;
}


#tab3 .item-subtitle .sex {
	width: 13%;
	height: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#tab3 .sex span {
	float: left;
	width: 50%;
	height: 15px;
	color: white;
	text-align: center;
	font-size: 10px;
	margin-top: 2px;
}

#tab3 .img1 {
	float: left;
	width: 30%;
	height: ;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-right: 2px;
	margin-left: 2px;
}

#tab3 .img2 {
	width: 60%;
	padding-left: 2px;
	height: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

#tab3 .list-block .item-content {
	padding-left: 5px;
}

#tab3 .list-block .item-text {
	height: 100%;
}

#tab3 .item-after span {
	font-size: 8px;
	margin-top: 5px;
	color: #BBBBBB;
}

#tab3 .item-media img {
	border-radius: 5px;
}

#tab3 .item-title div {
	margin-top: 8px;
	float: left;
	font-size: 10px;
	font-weight: 200;
}


#tab3 .item-text span {
	font-size: 12px;
	color: #BBBBBB;
}

#tab3 .key-word {
	width: 25%;
	height: 25px;
}

.actions-modal-button {
    cursor: pointer;
    line-height: 43px;
    font-size: 18px;
    color: #0EAAE3;
}

.list-block.sortable-opened .item-inner, .list-block.sortable-opened .item-link .item-inner {
    padding-left: 35px;
    padding-right: 0px;
}

.div-yichufans {
    position: fixed;
    bottom: 0px;
    font-size: 20px;
    background-color: rgb(14, 170, 227);
    width: 100%;
    height: 40px;
    z-index: 444;
    text-align: center;
    color: #fff;
    margin: auto;
}
.content-block-inner:before {
	height:0px;
    background-color: rgba(0, 0, 0, 0.5);
}
