body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements ½á¹¹ÔªËØ */
dl, dt, dd, ul, ol, li, /* list elements ÁÐ±íÔªËØ */
pre, /* text formatting elements ÎÄ±¾¸ñÊ½ÔªËØ */
form, fieldset, legend, button, input, textarea, /* form elements ±íµ¥ÔªËØ */
th, td, /* table elements ±í¸ñÔªËØ */
img/* img elements Í¼Æ¬ÔªËØ */ {
	border: medium none;
	margin: 0;
	padding: 0;
}
/** ÉèÖÃÄ¬ÈÏ×ÖÌå **/
body, input, p {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Microsoft YaHei';
}
/*h1, h2, h3, h4, h5, h6 { font-size: 100%; }*/
/*em{font-style:normal;}*/
/** ÖØÖÃÁÐ±íÔªËØ **/
ul, ol {
	list-style: none;
}
/** ÖØÖÃ³¬Á´½ÓÔªËØ **/
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
	color: #3363a7;
}
/** ÖØÖÃÍ¼Æ¬ÔªËØ **/
img {
	border: 0px;
}
/** ÖØÖÃ±í¸ñÔªËØ **/
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.item-inner label {
	width: 32%;
}
label {
	font-size: 14px;
	color: #000;
}
body, html {
	height: 100%;
	font-size: 0.65 rem;
	font-family: '微软雅黑';
	background-color: #fff;
	position: relative;
}
/*
.mar-top {
	margin-top: 20px;
}

.my-head, .my-head a {
	height: 44px;
}

.my-head h1 {
	height: 44px;
	line-height: 44px;
	font-size: 20px;
	font-weight: 600;
	box-shadow: none;
}*/
/*清除浮动*/
.clear {
	height: 0px;
	line-height: 0px;
	font-size: 0px;
	clear: both;
}

.imgtop{
    text-align:center;
    width:100%;
    height:200px;
    background: url("../../image/loveback.jpg") no-repeat center;
    background-size:cover;
    background-color:rgba(0,0,0,0.5); 
}

.imgbottom,.imgbottom img{
    width:100%;
}

.content-block{
   margin:0;
   padding:0;
}

.imgbottom p{
  text-align:center;
}
.imgtop>div{
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,.4); 
  color:#fff;
  overflow: hidden;
}

.imgtop>div>div{
  margin-top:80px;
}
.imgtop
span{
	 color:#FFFFFF;
	 font-size:1.5rem;
}
.bar{
  position:relative;
}

.firstul,.secondul{
  position:absolute;
  background-color:#444444;
  color:#fff;
  width:30%;
  z-index:150;
  display:none;
}

.firstul li,.secondul li{
   border-bottom: 1px solid #BBBBBB;
   padding:8px 8px;
} 

.firstul{
   left:30%;
}

.secondul{
   right:0;
}

.last{
  border:none;
}

li.first{
   width:5px;
   height:5px;
   position:absolute;
   z-index:200;
   -webkit-transform:rotate(45deg);
   transform:rotate(45deg);
   top:-7px;
   right:15px;
   background-color:#444444;
   border:none;
   
}
.waiting{
	color:#787878;
	
}
.buttons-tab{
	box-shadow: 0 5px 5px -2px #787878;
}

.list-block ul{
   display:block;
}

.list-block{
   margin-top:0;
   font-size:14px;
}

.list-block .colorBlue{
  color:#0eaae0;
}

.item-content{
   border-bottom: 1px solid #f0f0f0;
}

.detail{
   width:100%;
   background-color:#f0f0f0;
}
.detailUl{
   background-color:#FFFFFF;
   
}
.litwo{
	border-bottom: 1px solid #DCDCDC;
}
.detailUl li{
   overflow: hidden;
   font-size:12px;
}

.detailUl .bottomLi{
   border-bottom: 1px solid #DCDCDC;
}
.detailLeft{
   float:left;
   margin-left:25px;
   line-height:30px;
}

.detailRight{
   width:30%;
   float:left;
   margin-right:2rem;
   line-height:30px;
}
.detailone{
	float:left;
	width:60%;
	height:30px;
}
.detailtwo{
	float:left;
	width:60%;
	height:30px;
}
.detailnumber{
	margin-right:0.5rem;
	line-height:30px;
	color:green;
}
.month{
   font-size:14px;
   padding-left:15px;
}
.icon-aixin3{
   color:#E12716;
   line-height:30px;
}

.icon-meidou{
   color:#E2CE20;
   line-height:30px;
}

.icon-moneybag{
   color:#FCA00B;
   line-height:30px;
}

.buttons-tab{
  width:100%;
}

.bar{
  position:relative;
  overflow: hidden;
}
.bar~.content{
  top:4.2rem;
}

.buttons-tab .button{
   background-color:#fff;
   z-index: 100;
   height:44px;
   line-height:44px;
}
.buttons-tab{
  top:0px;
}

