
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1491968270832'); /* IE9*/
  src: url('iconfont.eot?t=1491968270832#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1491968270832') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1491968270832') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1491968270832#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanjia2:before { content: "\e6b5"; }

.icon-gold:before { content: "\e509"; }

.icon-jidan:before { content: "\e83e"; }

.icon-jinbi:before { content: "\e681"; }

