.navbar span {
	color: white
}

.theme-green .button:not(.button-fill)
.active {
	background-color: rgb(14, 170, 227);
	color: #fff;
}

.theme-green .button:not(.button-fill) {
border-color: rgb(14, 170, 227);
}

.l_float {
	float: left;
}

.r_float {
	float: right;
}

.current {
	border-bottom: #FFFFFF solid 2px;
	width: 100%;
}
#nearby-index .tab-a {
	border: 0;
}
/*女*/
#nearby-index .sex-bgc2 {
	background-color: #FA94AA;
	border-radius: 2px;
}

/*男*/
#nearby-index .sex-bgc1 {
	background-color: #4AAEF3;
	border-radius: 2px;
}

.button-nearby {
	height: 100%;
	width: 100%;
	font-size: 10px;
	padding-left: 0px;
	padding-right: 0px;
}

#tab-people .list-block.media-list .item-link .item-title-row, #tab-people .list-block li.media-item .item-link .item-title-row {
	background-image: none;
	padding-right: 0px;
}

#tab-people .item-subtitle .sex {
	width: 24px;
	height: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#tab-people .sex span {
	float: left;
	width: 50%;
	height: 12px;
	color: white;
	text-align: center;
	font-size: 10px;
}
#tab-people .vip {
	float: left;
	width: 36px;
	height: 12px;
	padding-left: 2px;
	margin-top: 1px;
	margin-bottom: 5px;
}
#tab-people .img1 {
	float: left;
	width: 30%;
	height: ;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-right: 1px;
	margin-left: 2px;
}

#tab-people .img2 {
	width: 100%;
	height: 100%;
}

#tab-people .list-block .item-content {
	padding-left: 8px;
}

#tab-people .list-block .item-text {
	width: 75%;
	height: 100%;
	margin-top: 5px;
}
#tab-people .item-after span {
	font-size: 10px;
	margin-top: 5px;
	color: #ADADAD;
}

#tab-people .item-media img {
	border-radius: 5px;
}

#tab-people .item-title span {
	float: left;
	font-size: 16px;
	font-weight: 400;
}

#tab-people .item-text span {
	font-size: 12px;
	color: #999999;
	font-weight: 400;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 90%;
}
#tab-people .list-block .item-inner:after {
	
	height:0px;
}
#tab-people .key-word {
	width: 15%;
	height: 18px;
	position: absolute;
	left: 82%;
	top: 33%;
	z-index: 9999;
}
#tab-people .key-word span {
	font-size: 14px;
	padding-left: 2px;
	padding-right: 2px;
}
#tab-people .button {
	background-color: #0EAAE3;
}
#tab-people .item-inner {
	margin-left: 10px;
    padding-right: 8px;
}
#tab-people .item-after{
	margin-top: -4px;
}

#tab-dynamic .sex {
	width: 24px;
	height: 12px;
	margin-left: 4px;
	margin-top: 4px;
}

#tab-dynamic .sex span {
	float: left;
	width: 50%;
	height: 10px;
	color: white;
	text-align: center;
	font-size: 10px;
	position: relative;
}

#tab-dynamic .img1 {
	float: left;
	width: 30%;
	height: ;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-right: 2px;
	margin-left: 2px;
}

#tab-dynamic .vip {
	width: 36px;
	float: left;
	height: 12px;
	margin-left: 2px;
	margin-top: 2px;
}

#tab-dynamic .img2 {
	width: 100%;
	padding-left: 2px;
	height: 100%;
	margin-bottom: 5px;
	margin-top: 2px;
	z-index: 1;
}

#tab-dynamic .list-block.media-list .item-link .item-title-row, #tab-dynamic .list-block li.media-item .item-link .item-title-row {
	background-image: url(../../image/nearby/ic_common_arrow_bottom.png);
	background-size: 15px 8px;
}

#tab-dynamic .title {
	width: 100%;
	float: left;
}

#tab-dynamic .title-name {
	width: auto;
	float: left;
	height: 100%;
	margin-left: 2px;
	position: relative;
}

#tab-dynamic .titlespan {
	font-size: 16px;
	font-weight: 300;
	display: block;
}

#tab-dynamic .facebook-dateafter {
	font-size: 12px;
	margin-bottom: 30px;
	color: #BBBBBB;
	width: 100px;
	text-align: right;
}

#tab-dynamic .facebook-avatar img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

#tab-dynamic .sectitle {
	width: 100%;
	margin-top: 1px;
}

#tab-dynamic .sectitle span {
	width: 100%;
	font-size: 12px;
	color: #AEAEAE;
	display: block;
	margin-left: 2px;
}

/*#tab-dynamic .afterbtn{
 position: relative;
 width: 12px;
 height: 6px;
 margin-bottom: 30px;
 }*/

#tab-dynamic .facebook-name {
	position: relative;
	width: 240px;
	margin-bottom: 10px;
	margin-left: 10px;
}

#tab-dynamic .card {
	height: 100%;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	box-shadow:none;
}

#tab-dynamic .card-header {
	margin-top: 0px;
	height: 20%;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 5px;
}

#tab-dynamic .card-header-frist {
	margin-top: 50px;
}

#tab-dynamic .card-header:after {
	width: 83%;
	left: 17%;
}

#tab-dynamic .card-content {
	height: 70%;
}

#tab-dynamic .card-footer {
	height: 10%;
	padding-top: 0px;
}
#tab-dynamic .card:after{
	height:0px;
}

#tab-dynamic .card-content-inner {
	margin-left: 13%;
	padding-top: 5px;
	padding-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
	
}



#tab-dynamic .card-content-inner img {
	/*width: 30%;
	 height: 90%;*/
}

#tab-dynamic .card-content-inner p {
	margin-bottom: 0px;
	color: #7C7C7C;
	font-size: 14px;
	font-weight: 400;
}

#tab-dynamic .card-footer span {
	font-size: 12px;
	color: #C4C4C4;
}

#tab-dynamic .card-footer:before {
	height: 0px;
}

#tab-dynamic .card-footer-title {
	margin-left: 14%;
}

#tab-dynamic .icon-angle-down {
	color: #BBBBBB;
	font-size: 14px;
}
#nearby-index div[class*="key-col-"] {
	background: #0EAAE3;
	text-align: center;
	color: white;
	padding: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.key-card {
	margin: 0px;
	padding-bottom: 5px;
	width: 100%;
	height: 100%;
}
.key-card-title {
	font-size: 14px;
	display: block;
}
.key-facebook-name {
	position: relative;
	left: -11%;
	top: -12px;
	width: 80px;
	text-align: left;
}
.key-sex-img {
	position: relative;
	left: -100px;
	top: 21px;
	width: 24px;
	height: 12px;
}
.key-sex-img span {
	font-size: 10px;
	color: #FFFFFF;
	position: relative;
	top: -12px;
	text-align: center;
}
.key-vip-img {
	position: relative;
	left: -74px;
	top: 4px;
	width: 36px;
	height: 12px;
	line-height: 1.3;
}
.key-img1 {
	width: 30%;
	/*height: 80%;*/
	margin: 2px;
	margin-bottom: 7px;
	padding-bottom: 5px;
}
.key-img2 {
	width: 90%;
	height: 100%;
}
.key-facebook-date {
	position: relative;
	left: -18%;
}
.key-item-inner {
	margin-left: 14px;
}
.key-col-33 {
	margin-bottom: 5px;
	background: #0EAAE3;
	color: #FFFFFF;
}
.key-keyword-search {
	width: auto;
	background: #0EAAE3;
	float: left;
	margin-right: 2px;
	padding-left: 1px;
	padding-right: 1px;
	border: 1px solid #0EAAE3;
}
.key-keyword-search span {
	width: 100%;
	color: #FFFFFF;
	font-size: 14px;
}
.modalInnerPadding {
	padding: 0px;
}
.dyImg {
	overflow: hidden;
	z-index: 99;
}
.dyImgPositionH {
	position: relative;
	right: 20%;
}
.dyImgPositionW {
	position: relative;
	bottom: 20%;
}
.dyImgPositionE {
	position: relative;
}

#nearby-index .infinite-scroll-preloader {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
#nearby-index .infinite-scroll-preloader .preloader {
	width: 25px;
	height: 25px;
}

#nearby-index li{
	border-bottom:1px solid #E9EBF0 ;
}

.list-block ul:after{
	height:0px;
}

#nearby-index .modal-overlay{
	opacity:0;
}

